@import "src/style/variables";

.playlist {
  width: $video-width;
  margin: $margin-base;
  border: $base-border;
  display: inline-block;

  button:hover {
    cursor: pointer;
  }

  .list-item {
    height: $button-height;
    width: 2*$button-height;
    margin: 9px;
    font-size: 1rem;
    border: $base-border;
    border-radius: 4px;
  }

  .active {
    background-color: gold;
  }
}