@import "src/style/variables";

.controls-button {
  background-color: transparent;
  float: left;

  .play-button, .pause-button {
    border: none;
    height: $button-height;
    display: flex;
    background-color: transparent;
    padding: 0 0 0 1px;
  }
}