@import "src/variables";

.volume-panel {
  align-items: center;
  display: flex;
  position: absolute;
  right: 0;
  width: 150px;

  .volume-speaker {
    border: none;
    height: $button-height;
    display: flex;
    background-color: transparent;
    padding: 0 0 0 1px;
  }

  .volume-bar {
    background-color: $background;
    height: $background-height;
    margin-right: 10px;
    border-radius: 4px;
    width: $full-volume-width;
    position: relative;

    .current-volume {
      background-color: cornflowerblue;
      height: $background-height;
      border-radius: 4px;
      width: $default-volume-width;
      position: absolute;
      top: 0;
      left: 0;
    }

    .slider {
      width: $slider-size;
      height: $slider-size;
      background-color: $white;
      border-radius: 50%;
      border: $background 1px solid;
      position: absolute;
      top: ($background-height - $slider-size)/2;
      left: ($default-volume-width - ($slider-size)/2);
      z-index: 1;
    }
  }
}