.volume-panel {
  align-items: center;
  display: flex;
  position: absolute;
  right: 0;
  width: 150px;

  .volume-speaker {
    border: none;
    height: 36px;;
    display: flex;
    background-color: transparent;
    padding: 0 0 0 1px;
  }

  .volume-bar {
    background-color: lightgray;
    height: 5px;
    margin-right: 10px;
    border-radius: 4px;
    width: 100px;
    position: relative;

    .current-volume {
      background-color: cornflowerblue;
      height: 5px;
      border-radius: 4px;
      width: 40px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .slider {
      width: 15px;
      height: 15px;
      background-color: white;
      border-radius: 50%;
      border: lightgray 1px solid;
      position: absolute;
      top: -5px;
      left: 32.5px;
      z-index: 1;
    }
  }
}