.video-container {
  width: 600px;
  height: 360px;
  margin: 0 20px;
  border: lightblue 2px solid;

  .video {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 600px;
    max-height: 360px;
  }
}