$margin-base: 1rem;
$font-family-base: Monaco, monospace;

$video-width: 640px;
$video-height: 360px;
$progress-bar-width: $video-width;
$button-height: 36px;
$time-display-height: $button-height;
$playlist-height: 2*$button-height;

$background-height: 5px;
$slider-size: 15px;

$full-volume-width: 100px;
$default-volume-width: ($full-volume-width)/2;

$white: #fff;
$black: #000;
$background: #D3D3D3FF;
$current-progress-color: #DC143CFF;
$current-progress-width: 0px;

$base-border: lightblue 2px solid;