.controls-panel {
  background-color: lightcyan;
  width: 600px;
  margin: 0 20px;

  .controls {
    height: 36px;
    display: flex;
    position: relative;
    background-color: gold;

    .play-button, .pause-button, .volume-speaker {
      border: none;
      height: 36px;;
      display: flex;
      background-color: transparent;
      padding: 0 0 0 1px;

    }

    .time-display {
      display: flex;
      padding: 0 10px;
      align-items: center;
    }

    .volume-panel {
      align-items: center;
      display: flex;
      position: absolute;
      background-color: pink;
      right: 0;
      width: 150px;

      .volume-bar {
        background-color: lightgray;
        height: 5px;
        margin-right: 10px;
        border-radius: 4px;
        width: 100px;
        position: relative;

        .current-volume {
          background-color: cornflowerblue;
          height: 5px;
          border-radius: 4px;
          width: 40px;
          position: absolute;
          top: 0;
          left: 0;
        }

        .slider {
          width: 15px;
          height: 15px;
          background-color: white;
          border-radius: 50%;
          border: lightgray 1px solid;
          position: absolute;
          top: -5px;
          left: 32.5px;
          z-index: 1;
        }
      }
    }
  }

  .progress-bar-container {

    .progress-background {
      width: 600px;
      background-color: lightgray;
      height: 5px;
      position: relative;
    }

    .progress {
      width: 300px;
      height: 5px;
      background-color: crimson;
      position: absolute;
      top: 0;
      left: 0;
      transition: width 500ms;
    }

    .progress:hover {
      width: 340px;
    }
  }
}