$margin-base: 1rem;
$font-family-base: Monaco, monospace;

$video-width: 640px;
$video-height: 360px;
$progress-bar-width: $video-width;
$button-height: 36px;
$time-display-height: $button-height;

$background-width: 5px;
$slider-size: 15px;

$white: #fff;
$black: #000;
$background: #D3D3D3FF;
$current-progress: #DC143CFF;

$base-border: lightblue 2px solid;